.App {
  text-align: center;
  /* background-color: #1F1F1F; */

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  background-color: #1F1F1F;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1F1F1F;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  color: #CFB53B;
  margin-top:10%;
  font-size: 60px;
  font-style: normal;
  /* font-weight: bold; */
  font-size: 100px;
  line-height: 161px;
  text-align: center;
  letter-spacing: 0.05em;
  /* margin-bottom: -10px; */
}

.lobbyName {
  color: #CFB53B;
  margin-top:1%;
  font-style: normal;
  /* font-weight: bold; */
  font-size: 60px;
  line-height: 61px;
  text-align: center;
  letter-spacing: 0.05em;
  /* margin-bottom: -10px; */
}

.victoryTitle {
  color: #CFB53B;
  margin-top:2%;
  font-style: normal;
  /* font-weight: bold; */
  font-size: 60px;
  line-height: 161px;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: -10px;

}

.subtitle {
  color: #CFB53B;
  /* margin-top:6%; */
  font-style: normal;
  /* font-weight: bold; */
  font-size: 60px;
  line-height: 161px;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: -10px;
}

.blurb {
  color: #A1A1A1;
  font-family: Arial;
  margin-top: -120px;
}

.leaderboardTitle {
  margin-top: 1%;
  font-size: 20px;
  color: #A1A1A1;
}
.leaderboardItem {
  margin-top: 1%;
  font-size: 16px;
  color: #A1A1A1;
}

.leaderboardDiv {
  margin-top: 3%;
  text-align: center;
  color: #A1A1A1;
}
.blurb2 {
  color: #A1A1A1;
  font-family: Arial;
  margin-top: 1%;
}



h3 {
  color: #A1A1A1;
  text-align: center;
}

ol {
  color: #A1A1A1;
  /* list-style:none; */
  
}

li {
  width:10%;
  margin-left:45%;
  /* background-color: red; */
  /* background-color: red; */
  /* text-align: center; */
  font-size:26px;
}

.addName {
  margin-top: 50px;
  background: #C7C7C7;
  box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.41);
  border-radius: 3px;
  height:30px;
  padding:5px;
  padding-left: 10px;
}

.addName:focus {
  outline: none;
}

.play {
  background: rgba(156, 133, 25, 0.81);
  height:42px;
  margin-left:5px;
  width:70px;
  border-radius: 3px;
  font-family: Arial;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.05em;
  color: white;
  border: none;
}
.joinRoom {
  background: rgba(156, 133, 25, 0.81);
  height:42px;
  margin-left:5px;
  border-radius: 3px;
  font-family: Arial;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.05em;
  color: white;
  border: none;
}

.backButton {
  background: #9c1903;
  height:42px;
  width: 100px;
  margin-top: 10%;
  margin-left:5px;
  border-radius: 3px;
  font-family: Arial;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.05em;
  color: white;
  border: none;
}

.backButton:hover {
  background: #851603;

  transition: .5s;

}
.startGame {
  margin: 0 auto;
  display: block;
  background: rgba(156, 133, 25, 0.81);
  height:35px;
  width:120px;
  box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.41);
  border-radius: 3px;
  font-family: Arial;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.05em;
  color: white;
  border: none;
}

.startGame:hover {
  filter: brightness(80%);
  transition: .5s;
}

.play:hover {
  filter: brightness(80%);
  transition: .5s;
}
.join {
  background: rgba(156, 133, 25, 0.81);
  height:42px;
  margin-left:10px;
  margin-right:10px;
  width:140px;
  border-radius: 3px;
  font-family: Arial;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.05em;
  color: white;
  border: none;
  margin-top:50px
}

.toggleLeaderboard {
  background: #949292;
  height:42px;
  margin-left:10px;
  margin-right:10px;
  width:140px;
  border-radius: 3px;
  font-family: Arial;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.05em;
  color: black;
  border: none;
  margin-top:50px
}
.toggleLeaderboard:hover {
  background: #aba9a9;
  transition: .5s;
}
.join:hover {
  filter: brightness(80%);
  transition: .5s;
}

.joinRoom:hover {
  filter: brightness(80%);
  transition: .5s;
}

.error {
  color:red
}

.createRoom {
  margin-top: 90px;
  border: 1px solid black;
  color: white;
  /* background-color:white; */
}

.numPlayerBtn {
  background: rgba(156, 133, 25, 0.81);
  width:30px;

  color: white;
  border: none;
  margin:2px;
  /* background-color: red; */
}
.numPlayerBtn:hover {
  filter: brightness(80%);
  transition: .5s;
}

.waitingGif {
  width:50%;
  margin-left:25%;
  border-radius: 40px;
  /* margin-top:10%; */
}
.victoryGif {
  width:15%;
  margin-left:42.5%;
  border-radius: 40px;
  margin-bottom:-5%;
}

.playerCount {
    color: #CFB53B;
    font-size: 20px;
    font-style: normal;
    font-weight: lighter;
    /* line-height: 161px; */
    text-align: center;
    letter-spacing: 0.05em;
}

.player1 {
  margin-top: 1%;
  margin-left: 10%;
  /* margin-right: 5%; */
  width: 20%;
  flex: 1;
}

.player2 {
  margin-top: 1%;
  /* margin-left: 5%; */
  margin-right: 10%;
  width: 20%;
  flex: 1;
}

/* .player1 {
  margin-top: 1%;
  margin-left: 10%;
  width: 40%;
  flex: 1;
}

.player2 {
  margin-top: 1%;
  margin-right: 10%;
  width: 40%;
  flex: 1;
} */

.flex-container {
  display: flex;
}

.piano {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: -100px; */
  flex-direction: column-reverse;
  height: 100vh;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 30vh;
  min-width: 100px;
  border: 0.5px solid #CECECE;
  color: #CECECE;
  font-size: 20px;
  padding: 10px
}

.tile-white {
  background-color: #FFFFFF;
}
.tile-char {
  background-image: url("/src/images/goofy.png");
  background-size: 18px 15px;;
}

.tile-black {
  background-color: #1F1F1F;
}

.tile-red {
  background-color: rgb(199, 71, 71);
}

.timer {
  position: absolute;
  color: #CFB53B;
  font-family: Arial;
  font-weight: bold;
  font-size: 60px;
  top: -30px;
}

.progress-board {
  display: flex;
  justify-content: left;
  margin-left: 0px;
  margin-right: 300px;
  align-items: left;
  flex-direction: column-reverse;
  height: 100vh;
  width: 10%;
  /* background-color: purple; */
}

.tile-small {
  display: flex;
  height: 15px;
  width: 12px;
  border: 0.5px solid #CECECE;
}

.profilePic {
  width:100px;
  height:100px;
  margin-bottom:-30px;
}
.profileSidePic {
  width:30px;
  height: 36px;
  margin-bottom:-30px;
  /* border: 1px solid red; */
}

.player {
  position: absolute;
}